[View in Colaboratory](https://colab.research.google.com/github/abhayvadgama/Spika/blob/master/apply_work.ipynb)

In [13]:
from __future__ import print_function
import tensorflow as tf

try:
  tf.contrib.eager.enable_eager_execution()
except ValueError:
  pass
  
tensor = tf.constant('Hello World!!')
tensor_value = tensor.numpy()

print(tensor_value)

b'Hello World!!'

In [88]:
from __future__ import print_function

import pandas as pd
import numpy as np
pd.__version__
c = pd.Series(['Surat','Sihor','Singapore','San Jose','San Fransisco','San Diago','Srinagar','Samarpur','Sacramento','Surat'])
d = pd.Series([888,9898,7878,5858,5522,225632,8524,98985,1236,1236])

vv = pd.DataFrame({'City Name': c, 'POP': d})

# cc = pd.read_csv("https://download.mlcc.google.com/mledu-datasets/california_housing_train.csv", sep=",")

# city_names = pd.Series(['San Francisco', 'San Jose', 'Sacramento'])
# pd.DataFrame({ 'City name': city_names, 'Population': d })
# cities['Area square miles'] = pd.Series([46.87, 176.53, 97.92])
vv['action'] = (d > 50 ) & c.apply(lambda name: name.startswith('San')) 
c
vv



# cc.describe()

# cc.head(2)

# cc.hist('population')

# np.log(cc.head(2))

# print(cc)

       City Name     POP  action
0          Surat     888   False
1          Sihor    9898   False
2      Singapore    7878   False
3       San Jose    5858    True
4  San Fransisco    5522    True
5      San Diago  225632    True
6       Srinagar    8524   False
7       Samarpur   98985   False
8     Sacramento    1236   False
9          Surat    1236   False